{% extends 'layout.html' %}

{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		{% for category, message in messages %}
      <div class="alert alert-{{category}} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{{ message }}
      </div>
		{% endfor %}
	{% endif %}
{% endwith %}
 <h1>Bonjour sur phoneShop</h1> 
 <h2>Vous pouvez achetez les meilleures téléphone du marché a des prix imbattable!</h2>
{% endblock %}
